{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
    {% if user_logged_in.superuser == 0%}
    {% for error in errors %}
    {{error}}<br />
    {% endfor %}
    {{message}}
    <h2>{{user.firstname}} {{user.lastname}} ({{user.email}})</h2>
    <form method="post" action="{{base_path}}/updateinfo">  
    <h3>Päivitä osoitteesi</h3>
    <p>Katuosoite: <input name="address" class="form-control" type="text" value="{{user.address}}"></p>
    <p>Postinumero: <input name="zipcode" class="form-control" type="text" value="{{user.zipcode}}"></p>
    <p>Postitoimipaikka: <input name="town" class="form-control" type="text" value="{{user.town}}"></p>
    <button type="submit" class="btn btn-primary">Päivitä</button>
    </form>
    <br />  
    <p><label class="control-label">Saldo: {{user.balance}} €</label></p>
    <h3>Vetohistoria</h3>
       <table class="table table-striped">
       <thead>
         <tr>
           <th>Ottelu</th>
           <th>Veto</th>
           <th>Panos</th>
           <th>Kerroin</th>
           <th>Status</th>
           <th>Palautus</th>
         </tr>
       </thead>

       <tbody> 
           {% for wager in wagers %}
           <tr>
             <td>{{wager.hometeam}} - {{wager.awayteam}}</td>
             <td>{{wager.betting_choice}}</td>
             <td>{{wager.betting_amount}} €</td>
             <td>{{wager.betting_odds}}</td>
             <td>
                {% if wager.settled %}
                    {% if wager.return > 0 %}
                    <label class="label label-success">VOITETTU</label>
                    {% else %}
                    <label class="label label-danger">HÄVITTY</label>
                    {% endif %}
                {% else %}
                <label class="label label-info">AVOINNA</label>
                {% endif %}
            </td>
            {% if wager.return is empty %}
            <td></td>
            {% else %}
            <td>{{wager.return}} €</td>
            {% endif %}
           </tr>
           {% endfor %}
       </tbody>
     </table>
    {% endif %}
{% endif %}
{% endblock %}