{% extends "base.html" %}
{% block content %}
{% if user_logged_in.superuser == 1%}
{{message}}
  <h1>Käyttäjän lisäys</h1>

  <form method="post" action="{{base_path}}/users">
    <div class="form-group">
      <label>Etunimi</label>
      <input name="firstname" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Sukunimi</label>
      <input name="lastname" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Sähköposti</label>
      <input name="email" class="form-control" type="text">
    </div>
      
    <div class="form-group">
      <label>Salasana</label>
      <input name="password" class="form-control" type="text">
    </div>
      
          <div class="form-group">
      <label>Katuosoite</label>
      <input name="address" class="form-control" type="text">
    </div>
      
          <div class="form-group">
      <label>Postinumero</label>
      <input name="zipcode" class="form-control" type="text">
    </div>
      
          <div class="form-group">
      <label>Postitoimipaikka</label>
      <input name="town" class="form-control" type="text">
    </div>
      

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div
  </form>
{% else %}
mene pois
{% endif %}
{% endblock %}
